/* Tag styles */
body{
    color: #D0D6F9;
    background-color: #0B0D17;
    /* margin: 0; */
    background-size: cover;
    /* width: 1440px; */
    /* height: 900px; */
    margin: 0;
    padding-top: 40px;
    padding-left: 55px;

}
a{
    text-decoration: none;
    color: inherit; 
}
a:visited{
    color: inherit; 
}
a:any-link {
    color: inherit;
}
p{
    margin: 0;
    /* line-height: 2; */
}
/* Class styles */
.bodytext{
    line-height: 2;
}
.heading-1{
    font-size: 150px;
    font-family: 'Bellefair', serif;
    font-weight: 400;
    text-transform: uppercase;
}
.heading-2{
    font-size: 100px;
    margin: 0;
    font-family: 'Bellefair', serif;
    font-weight: 400;
    text-transform: uppercase;
}
.heading-3{
    font-size: 56px;
    font-family: 'Bellefair', serif;
    font-weight: 400;
    text-transform: uppercase;
}
.heading-4{
    font-size: 32px;
    font-family: 'Bellefair', serif;
    font-weight: 400;
    text-transform: uppercase;
}
.heading-5{
    font-size: 28px;
    margin: 0;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    letter-spacing: 4.75px;
    text-transform: uppercase;
}

.Subheading-1{
    font-family: 'Bellefair', serif;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
}
.Subheading-2{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2.35px;
    text-transform: uppercase;

}
.Nav-Text{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}


.top-container{
    /* margin-top: 40px; */
    /* margin-left: 55px; */
    height: 96px;
    /* width: 1385px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-mark{
    height: 48px;
    width: 48px;
    /* padding: 40px 55px; */
    /* margin: auto; */
    /* float: left; */
}
.top-line{
    border-top: solid;
    border-width: 0.5px;
    border-color: FFFFFF;
    height: 0px;
    width: 473px;
    position: relative;
    left: 60px;
    /* display: inline-block; */
}

.top-menu{
    background-color: rgba(255,255,255,0.4);
    color: #FFFFFF;
    /* display: inline-block; */
    height: 96px;
    width: 830px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu{
    height: 96px;
    display: grid;
    place-items: center;
}
.menu:hover{
    border-bottom: solid;
    border-color: #D0D6F9;
}
.select-menu{
    height: 96px;
    display: grid;
    place-items: center;
    border-bottom: solid;
}
.menu-number{
    font-weight: bold;
}
.bottom-container{
    display: flex;
    /* align-items: flex-start; */
    margin: 140px 110px 0px;
}

.left-container{
    display: flex;
    flex-flow: column;

}




/* ID styles */
